/*------------------------------------------- Theme ----------------------------------------------*/

:root{
    --main-color:#EB4D4C;
    --light-brown:#AF9D89;
    --dark-brown:#824F31;
    --light-gray:#EEEBEB; /* #F7F7F7 */
    /* prevent the blinking cursor to be visible */
    caret-color: transparent;
}

/* overwrite bootstrap color */
.bg-primary{
    background-color:var(--main-color) !important;
}

.bg-secondary{
    background-color:var(--light-gray) !important;
}

/* fonts */

@font-face{
    font-family:"Lato";
    src:url("./Lato-Regular.ttf") format("truetype");
}

@font-face{
    font-family:"Lato-Thin";
    src:url("./Lato-Thin.ttf") format("truetype");
}

@font-face{
    font-family:"MouseM";
    src:url("./MouseMemoirs-Regular.ttf") format("truetype");
}

/*----------------------------------------- Areas --------------------------------------------*/

body{
    background-image: linear-gradient(0, var(--dark-brown), var(--light-brown));
    background-repeat: no-repeat;
}

.modal-backdrop{
    display:none !important;
}
   
/*----------------------------------------- Utilities --------------------------------------------*/

/* fonts */
.ff-lato{
    font-family:"Lato",sans-serif;
}

.ff-lato-thin{
    font-family:"Lato-Thin",sans-serif;
}

.ff-mouse{
    font-family:'MouseM', sans-serif;
    font-size:5rem;
}


/* layers */
.zindex-1{
    z-index:1;
}

.zindex-2{
    z-index:2;
}

/* text */
.fs-h1{
    font-size:calc(2rem + 3vw);
}

.fs-4r-3vw{
    font-size:calc(4rem + 3vw);
}

.text-maincolor{
    color:var(--main-color);
}

/* height and width */
.min-h-620{
    min-height:calc(620px + 19vw);
}

.min-w-320{
    min-width:320px;
}

.h-1r{
    height:1rem;  
}

.h-2r{
    height:2rem !important; 
}

.h-3r{  
    height:3rem;
}

.h-8r{
    height:8rem;
}

.h-10r-10vw{
    height:calc(10rem + 10vw);
}

.w-4r{
    width:4rem !important;
}

.w-4r-3w{
    width:calc(4rem + 3vw);  
}

.w-10r{
    width:10rem;
}

.w-10r-3w{
    width:calc(10rem + 3vw);  
}

/* padding */
.pt-5r{
    padding-top:5.5rem;
}

.pb-5r{
    padding-bottom:5.5rem;
}

/* position */
.top-5r-5vw{
    top:calc(5rem + 5vw);
}

.top-50pc{
    top:calc(50% - 5.4rem);
}

.bottom-50pc{
    bottom:calc(50% - 0.5rem);   
}

.start-50pc{
    left:calc(50% - 4rem);
}

/*---------------------------------------- Home screen -------------------------------------------*/

.rules-btn p{
    top:calc(-0.5rem - 0.5vw);
}

/*------------------------------------ breakpoint md ---------------------------------------*/

@media only screen and (max-width:768px){
    .pb-4r{
        padding-bottom: 4rem !important;
    }
} 

@media only screen and (min-width:768px) {

    .min-h-620{
        min-height:620px;
    }

    .bg-md-transparent{
        background:none !important;
    }

    .mb-md-auto{
        margin-bottom:auto !important;
    }

    .pt-md-5r {
        padding-top:5rem;
    }

    .pb-md-0{
        padding-bottom:0;
    }
    
    .pb-md-10r {
        padding-bottom:10rem !important;
    }

    .pb-md-12r {
        padding-bottom:12rem !important;
    }

    .min-w-md-768{
        min-width:768px; 
    }

    .h-md-7r{
        height:7rem;
    }

    .top-md-35pc{
        top:calc(35% - 4rem);
    }

    .border-md-0{
        border:none !important;
    }
}

/*----------------------------------- breakpoint vertical sm -------------------------------------*/

@media only screen and (max-height:576px) and (min-width:768px){

    .min-h-vsm-320{
        min-height:calc(320px + 4vw) !important;
    }

    .border-top-vsm-dark{
        border-top:0.5px solid grey !important;
    }

    .gap-vsm-0{
        gap:0 !important;
    }

    .bg-vsm-secondary{
        background-color: var(--light-gray) !important;
    }

    .bg-vsm-light{
        background-color: white !important;
    }

    .order-vsm-1{
        order:1 !important;
    }

    .order-vsm-2{
        order:2 !important;
    }

    .order-vsm-3{
        order:3 !important;
    }

    .flex-vsm-row{
        flex-direction:row !important;
    }

    .h-vsm-auto{
        height:auto !important;
    }

    .p-vsm-4r{
        padding-bottom:4rem !important;
    }

    .pt-vsm-0{
        padding-top:0 !important;
    }

    .align-items-vsm-end{
        align-items:flex-end !important;
    }

    .p-vsm-1r{
        padding:1rem !important;
    }

    .mb-vsm-0{
        margin:0 !important;
    }

    .justify-content-vsm-center{
        justify-content: center !important;
    }

    .top-vsm-50pc{
        top:calc(50% - 5.4rem);
    }

}
